body {
	background-color: #333;
	color: white;
}

.boxQuote {
	margin-top: 4em;
	margin-bottom: 1em;
	padding: 2em 1em 1em 1em;
	box-sizing: border-box;
	background-color: gray;
	border-radius: 1em;
	color: white;
}

.flex {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
