body {
	background-color: #b12c49;
	color: white;
}

.boxQuote {
	margin-bottom: 1em;
	padding: 2em 1em 1em 1em;
	color: white;
	max-width: 1200px;
	margin: 0 auto;
}

.flex {
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
	color: white;
}
